.headerPage {
	overflow: hidden;
	background-color: #000000;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: left;
	text-transform: uppercase;
	border-bottom: 8px solid #800000;
}

table {
    margin-left: 200px;
   border-spacing: 10px;
	border-collapse: separate;

	font:  italic bold 12px/30px Georgia, serif;
  font-size: 15px;
  color: black;	
  border-radius:inherit;
}

 tbody {
   border-spacing: 10px;
	border-collapse: separate;

	font: italic normal 12px/30px Georgia, serif;
  font-size: 15px;
  color: black;	
  border-radius:inherit;
  text-align: center;
}

 thead {
   border-spacing: 10px;
	border-collapse: separate;

	font: italic bold 12px/30px Georgia, serif;
  font-size: 15px;
  color: black;	
  border-radius:inherit;
  text-align: center;
}


table tr td{
	padding: 10px 10px 10px 10px;
}

tbody tr td{
	padding: 10px 10px 10px 10px;
}

thead tr td{
	padding: 10px 10px 10px 10px;
}

.airlines{
margin-left: 100px;	
}

