<html>

<head>
  <title>KLM</title>
</head>

<body>
  <div class="headerPage">
    <a href="" class="logo"></a>
    <div class="header-right">
      <a class="active" href=""></a> <a href=""></a>
    </div>
  </div>
  <div class="navbar">
    <a [routerLink]="['/Home']" class="nav-link px-4 rounded-pill">
      Home
    </a>
    <a [routerLink]="['/Fare']" class="nav-link px-4 rounded-pill">
      Fare Search
    </a>
    <a [routerLink]="['/Airports']" class="nav-link px-4 rounded-pill ">
      Airport Locations
    </a>
    <a [routerLink]="['/Stats']" class="nav-link px-4 rounded-pill">
      Get Statistics
    </a>
    <a class="nav-link px-4 rounded-pill">
      About
    </a>
    <a class="nav-link px-4 rounded-pill">
      Contact Us
    </a>
  </div>

  <div class="main">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>

</html>