<!DOCTYPE html>
<html>
	<head>
<title>Search Airport Locations</title>
</head>
<body>
	<div class="col-lg-8 mb-5">
        <div class="p-5 bg-white d-flex align-items-center shadow-sm rounded h-100">
          <div class="demo-content">
				<table class="table">
					<thead class="thead-dark">
					<tr>
						<th>Origin</th>
						<th>Destination</th>
					</tr>
					</thead>
					<tbody>
						<tr>
						<td><input id="origin_input" list="origin_list" type="text" name="originpath"
								required="required" [(ngModel)]="originpath" [formControl]="queryField"
								class="form-control">
							<datalist id="origin_list">
								<option *ngFor="let result of term?.locations" [value]="result?.code | lowercase">
									{{result?.name | json}}
									{{result?.description | json}}
								</option>
							</datalist>
						</td>

						<td><input type="text" list="destination_list" name="destination" required="required"
								[(ngModel)]="destination" [formControl]="queryField1" class="form-control"></td>
						<datalist id="destination_list">
							<option *ngFor="let result of term?.locations" [value]="result?.code | lowercase">
								{{result?.name | json}}
								{{result?.description | json}}
							</option>
						</datalist>

					</tr>
					<tr>
						<td>
							<button class="btn btn-primary" (click)="doGetFares()">Calculate</button>
						</td>

					</tr>
					
				</tbody>
				</table>
				<tr >
						<td *ngIf="(fare | json)">The Fare for Flight from {{fare?.origin | json}} to
							{{fare?.destination | json}}
							is {{fare?.currency | json}} {{fare?.amount | json}}</td>
					</tr>
			</div>
</div>
		</div>
</body>

</html>
