body {
	/* background-color: #91ced4; */
	background-image: url("/images/restaurantback.jpg ");
	background-repeat: no-repeat;
	background-size: cover;
}
body * {
	box-sizing: border-box;
}

img {
	border-radius: 50%;
	height: 160px;
	width: 160px;
}
img[src="_"]
    display none !important
table{
	position:relative;
	left:100px;
}


.header-right {
	text-align: right;
}

.headerPage {
	overflow: hidden;
	padding: 20px 10px;
	background-color: #000000;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: left;
	text-transform: uppercase;
	border-bottom: 8px solid #800000;
}

div .header-centre {
	text-align: center;
	font:  italic bold 12px/30px Georgia, serif;
	font-size: 25px;
}

.logo img {
	display: block;
	width:5%;
	height:5%;
}

table {
    margin-left: 200px;
   border-spacing: 10px;
	border-collapse: separate;
}

#displayTable a {
  font:  italic bold 12px/30px Georgia, serif;
  font-size: 15px;
  color: black;
}

#viewTableMode,#addDish{
	padding: 15px 15px 15px 15px;
}

table tr td{
	padding: 10px 10px 10px 10px;
}

#viewTableMode,#editTableMode
{
 font:  italic bold 12px/30px Georgia, serif;
  font-size: 15px;
  color: black;	
  border-radius:inherit;
}
​